{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img style="height: 300px;width: 300px; border-radius: 50%;" src="{% static 'AppCoder/assets/img/Foto.jpg' %}" alt="">
        </div>
        <div class="col-md-8">
            <h1>Quien soy:</h1>
            <p>Hola, bienvenidos a mi primer pagina web. Soy Bollano Mauricio, soy de Rio Cuarto provincia de Córdoba.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

{% endblock %}