{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img style="height: 300px;width: 300px; border-radius: 50%;" src="{% static 'AppCoder/assets/img/Foto.jpg' %}" alt="">
        </div>
        <div class="col-md-8">
            <h1 style="font-style: italic;">Quien soy:</h1>
            <p style="font-size: medium;font-style: italic;">Hola, bienvenidos a mi primer pagina web. Soy <span style="font-weight: bold;">Bollano Mauricio</span> de la ciudad de Rio Cuarto, provincia de Córdoba. Soy estudiando de Ingeniería Química, por interes
                me quise introducir en el mundo de la programación a la hora de elegir dónde comenzar seleccione Python y por experiencias anteriores
                elegí la plataforma de CoderHouse para comenzar. Espero esta sea la primer experiencia de muchas, gracias por su atención y por haber llegado hasta aquí.
                <br>
                <span style="font-weight: bold;">Saludos</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}