{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    AGREGAR AVATAR
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}


{% block contenidoQueCambia %} 
    <h1 style="text-align: center;">Describete</h1>
    <div style="padding: 10px 5px;">
        <form style="padding-left: 33%;" action="{% url 'agregar_descripcion' %}" method="POST"> {% csrf_token %} 
            <table>
                {{ form.as_table }}
            </table>
            <div  style="padding-left: 10%;">
                <input class="btn btn-secondary" style="border-radius: 8px;"type="submit" value="Agregar">
                <a class="btn btn-secondary" style="border-radius: 8px;" href="{% url 'perfil' %}"> Volver </a>
            </div>
        </form>
    </div>

{% endblock %}