{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
<div style="display: flex; flex-direction: column; align-items: center; text-align: left;">
    <form method="post">{% csrf_token %}
        ¿Estas seguro que deseas borrar el siguiente post : "{{object}}""?
        <input class="btn btn-secondary" style="border-radius: 8px; width: 100 px;" type="Submit" value="Si">
    </form>
    <div  style="padding:24px;text-align: center;">
        <a href="{% url 'Blog' %}" style="padding: 48px;"><i class="icono-arrow1-left"></i> &#8592; Volver a los blogs</a>
    </div>
</div>
    


{% endblock %}