{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

    
    <h1> Lista de posts</h1>
    <ul>
        {% for blog in object_list %}

            <li>
                <p>Nombre : {{blog.titulo}}</p>
                <p>
                    <a href="{% url 'BlogDetalles' blog.id %}"> Ver </a>
                    <a href="{% url 'BlogUpdate' blog.id %}"> Editar </a>
                    <a href="{% url 'BlogDelete' blog.id %}"> Borrar </a>
                </p>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'BlogCreacion' %}"> Nuevo post</a>
    <br>

{% endblock %}