{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    Editar Usuario <br> {{ user.username }}
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}


{% block contenidoQueCambia %}
    <form action="{% url 'editar_usuario' %}" method="POST" style="padding-left: 40%;"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        
        <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Guardar Cambios">
        <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'perfil' %}"> cancelar </a>
    </form>
    
{% endblock %}