<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap" rel="stylesheet">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{%static 'AppCoder/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles2.css' %}">

</head>

<style>
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 80px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
</style>

<body style="background-color: #d5dfdd;
">
    <!-- navbar navbar-dark navbar-brand  style="background-color: #7c99d8;"-->
<!-- Barra de navegacion superior -->

<nav class="navbar nav-tabs" style="background-color: #659c99;">
    <div class="container px-5">
            <div style="display: flex;align-items: center;">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Busca tu receta" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
            </div>
            <li class="nav-item" style="list-style-type: none"><a class="nav-link" style="border-radius: 8px;" href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="nav-item" style="list-style-type: none"><a  class="nav-link"style="border-radius: 8px;" href="{% url 'Recetas' %}">Recetas</a></li>
            <li class="nav-item" style="list-style-type: none"><a class="nav-link"style="border-radius: 8px;" href="{% url 'Blog' %}">Blog</a></li>
            <li class="nav-item" style="list-style-type: none"><a class="nav-link" style="border-radius: 8px;"href="{% url 'AboutMe' %}">About me</a></li>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" style="font-family: cursive;">{{ user.username }} <img onclick="myFunction()" src="{{avatar}}" alt="Avatar" style="height: 40px; border-radius: 50%; margin-left: 14px;"></a></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'RecetasCreacion' %}">Crear Receta</a>
                    <a href="{% url 'BlogCreacion' %}">Crear Post</a>
                    <a href="{% url 'perfil' %}">Perfil</a>
                    {%if user.is_superuser %}
                        <a href="http://127.0.0.1:8000/admin/">Admin</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Cerrar Sesion</a>
                        
                </div>
            </div> 
            {% else %}    
                <li class="nav-item" style="list-style-type: none"><a class="nav-link"style="border-radius: 8px;" href="{% url 'login' %}">Ingresar</a></li>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Seria como un titulo para la pagina que permanece siempre -->
<header>
<!-- ACA TIENE QUE IR UNA IMAGEN COMO LOG (puse <img src=/AppCoder/imagenes/Sintitutlo.png> y no carga) -->
<!-- NO ES RESPONSIVE ESTA PARTE TODAVIA -->
    <div style="padding: 24px 0 24px 0;text-align: center;">
        <div style="margin:0px auto;">
            <p style="font-size: 100px; font-family: 'Tourney', cursive;" >FOODIE CRAVE</p> 
        </div>
    </div> 
</header>

{% block contenidoQueCambia %}

{% endblock %}


<footer style= "background-color:#659c99;padding-top: 24px;">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p></div>
</footer>

<script>
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}
</script>
<script>
    CKEDITOR.replace('ingredientes');
    CKEDITOR.replace('instrucciones');
    CKEDITOR.replace('resumen');
    CKEDITOR.replace('cuerpo');
</script>
<script src="{% static 'AppCoder/ckeditor/ckeditor.js' %}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>

</body>
</html>