{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ recetas.imagen.url }}" alt="{{ recetas.nombre }}" style="height: 100%; width: 100%;">
        </div>
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong style="font-style: oblique;">Nombre de la receta :</strong>  <i> {{ recetas.nombre }}</i></p>
                        <p> <strong style="font-style: oblique;">Tipo de la receta :</strong>  <i> {{ recetas.get_tipo_display }}</i></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong style="font-style: oblique;">Dificulta de la receta:</strong>  <i>{{recetas.get_dificultad_display}}</i></p>
                        <p><strong style="font-style: oblique;">Tiempo necesario:</strong>  <i>{{recetas.tiempo}}</i> minutos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <p> <strong style="font-style: oblique;">Ingredientes necesarios:</strong>  <br><i>{{recetas.ingredientes|safe}}</i></p>
    </div>
    <div class="row">
        <p><strong style="font-style: oblique;">Instrucciones :</strong><br><i>{{recetas.instrucciones|safe}}</i></p>
    </div>

    <div class="row" style="text-align: center;">
        <a href="{% url 'Recetas' %}" style="padding: 48px;"><i class="icono-arrow1-left"></i> &#8592; Volver a las recetas</a>
    </div>
</div>

{% endblock %}