{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


{% for receta in object_list %}
<div style="padding-left:25%;padding-bottom: 24px;">
    <div class="card" style=" padding: 24px; width: 1000px;border-radius: 4px;">
        <div class="row">
            <div class="col-md-4">
                {% if receta.imagen %}
                    <img src="{{ receta.imagen.url}}" alt="{{ receta.nombre }}" class="card-img-top" style="border-radius: 8px; width: 180px; height: 180px;">
                {% else %}
                    <img src="{% static 'AppCoder/img/RecetasDefaultIMG.jpg' %}" alt="{{ receta.nombre }}" class="card-img-top" style=" border: 12px;border-radius: 8px;">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body" style="width: 100%;">
                    <h5 class="card-title">{{receta.nombre}}</h5>
                    <p class="card-text">{{receta.get_tipo_display}}</p>
                    <p class="card-text"><small class="text-muted">{{blog.resumen|safe}}</small></p>
                    <a href="{% url 'RecetasDetalles' receta.id %}" class="btn btn-secondary" style="text-decoration: none;border-radius: 8px;"> Ver </a>
                    <a href="{% url 'RecetasUpdate' receta.id %}" class="btn btn-secondary" style="text-decoration: none;border-radius: 8px;"> Editar </a>
                    <a href="{% url 'RecetasDelete' receta.id %}" class="btn btn-secondary" style="text-decoration: none;border-radius: 8px;"> Borrar </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

