<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p> Estas buscando <strong>{{query}}</strong></p>
{% if rec %}
    <ul>
        {% for receta in rec %}
            <p>Las recetas encontradas con ese nombre son : {{rec|length}}</p>
            <li><strong>Nombre de la receta:</strong> {{receta.nombre}} </li>
            <li><strong>Tipo:</strong> {{receta.tipo}} </li>
            <li> <strong>Dificultad:</strong> {{receta.dificultad}} </li>
            <li><strong>Tiempo: </strong> {{receta.tiempo}}</li>
            <li><strong>Ingredientes: </strong>{{receta.ingredientes}}</li>
            <li><strong>Instrucciones: </strong>{{receta.instrucciones}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontro receta con ese nombre</p>
{% endif %}

</body>
</html>